@model ARTICLE.Models.Book

@{
    ViewData["Title"] = "BookGet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Kitap Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("BookUpdate", "Book", FormMethod.Post))
{
    @Html.Label("Kitap Numarası")
    @Html.TextBoxFor(x=>x.BookID, new { @class = "form-control"})
    <br />
    @Html.Label("Kitap Adı")
    @Html.TextBoxFor(x=>x.BookName, new { @class = "form-control"})
    <br />
    @Html.Label("Stok Sayısı")
    @Html.TextBoxFor(x=>x.Stock, new { @class = "form-control"})
    <br />
    @Html.Label("Fiyat(TL)")
    @Html.TextBoxFor(x=>x.Price, new { @class = "form-control"})
    <br />
    @Html.Label("Fotoğraf URL")
    @Html.TextBoxFor(x=>x.ImageURL, new { @class = "form-control"})
    <br />
    @Html.Label("Kategori")
    @*@Html.TextBoxFor(x=>x.CategoryID, new { @class = "form-control"})*@
    @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.v1, new { @class="form-control"})
    <br />
    @Html.Label("Kitap Tanımlaması")
    @Html.TextAreaFor(x=>x.DecriptionofBook, new { @class = "form-control"})
    <br />
    <button class="btn btn-primary">Kaydet</button>
}


